{% extends 'books/base.html' %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4 text-center">Library Books</h1>
    <div class="row">
        {% for book in books %}
        <div class="col-md-4 mb-4">
            <div class="card shadow-sm h-100">
                <div class="card-body">
                    <h5 class="card-title">{{ book.title }}</h5>
                        
                    <p class="card-text"><strong>Author:</strong> {{ book.author }}</p>
                    <p class="card-text"><strong>Available:</strong> {{ book.available }}/{{ book.quantity }}</p>
                    {% if book.available > 0 %}
                    <a href="{% url 'borrow_book' book_id=book.pk %}" class="btn btn-success">Borrow</a>
                    {% else %}
                    <a href="{% url 'reserve_book' book.pk %}" class="btn btn-secondary">Reserve</a>
                    {% endif %}
                    {% if is_librarian %}
                    <a href="{% url 'edit_book' book.pk %}" class="btn btn-warning">Edit</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}